@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Inv Manager</title>
</head>
<body>
    <p style=" = "font-size: 18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Thanks for signing up
    </p>
    <p style="font-size:18px;"><i>Inv Manager</i></p>
</body>
</html>
