@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Manager</h1>
    <p class="lead">Inventory Manager is a free web site for managing any and all items that you need to keep track of.</p>
    <p><a href="http://localhost:13430/Home/About" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Inventory Manager gives you a powerful, visual-based way to manage your items.
        </p>
        <p><a class="btn btn-default" href="http://localhost:13430/Inventories">Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log In</h2>
        <p>Click below to log in and view your items and if necessary, add and edit them.</p>
        <p><a class="btn btn-default" href="http://localhost:13430/Account/Login">Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Where To Reach Us</h2>
        <p>You can easily find us using the following information.</p>
        <p><a class="btn btn-default" href="http://localhost:13430//Home/Contact">Go! &raquo;</a></p>
    </div>
</div>